*{
    box-sizing: border-box;
}
body{
    height: 100%;background: url("https://staticfile.tujia.com/mobile/styles/page/img/page/account/account_bg.jpg") no-repeat center;background-size: cover;
}
#Login-page{
    height: 100%;text-align: center;
}
#Login-page div{
    padding: 0 10%;
}
#Login-page div:nth-child(1){
    padding-top: 20%;
}
.Login-cut{
    margin: 15px 0;
}
.Login-cut div:nth-child(1){
    overflow: hidden;display: flex;justify-content: space-around;align-items: center;
}
.Login-cut p{
    line-height: 26px;font-size: 14px;color: #b4b4b4;
}
.Login-cut span{
    display: block;width:1px;height: 16px;background: #fff;
}
.Login-cut .Login-current{
    color: #fff;font-weight: 900;
}
.Login-input{
    display: none;
}
.Login-input li:nth-child(1){
    margin-top: 30px;
}
.Login-input li{
    width: 100%;margin-bottom: 15px;border-bottom: 1px solid rgba(255,255,255,.46);height: 46px;position: relative;
}
.Login-input input{
    border: none;outline: none;float: left;background:rgba(2,2,2,0);line-height: 46px;padding-left: 30px;color: #fff;
}
.Login-input li i{
    display: block;line-height: 46px;color: white;font-weight: 700;
}
.Login-input li:nth-child(1)::before{
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    width: 18px;
    height: 20px;
    background: url("https://staticfile.tujia.com/mobile/styles/page/img/icon/account_x.png") no-repeat left top;
    background-size: 18px;
}
.Login-input li:nth-child(2)::before{
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    width: 18px;
    height: 20px;
    background: url("https://staticfile.tujia.com/mobile/styles/page/img/icon/account_x.png") no-repeat left top;
    background-size: 18px;
    background-position: 0 -160px;
}
.am-button{
    display: block;width: 100%;line-height: 45px;font-size: 16px;color: #222;text-align: center;background: rgba(255,255,255,.8);font-weight: 700;border-radius: 0;
}
#Login-show{
    display: block;
}
#Login-page div:last-child a{
    float: right;color: #fff;margin-top: 20px;font-size: 16px;font-weight: 700px;line-height: 16px;
}




